{% extends 'base.html' %}
{%block content%} 
    {% if request.user.is_authenticated%}
        <h4>Ação nao Permitida</h4>
        <p><strong>precisa ser adminitrador pra ter acesso</strong></p>
        <h2>Entre com os dados</h2>
        <form action="" method="post">{%csrf_token%}
            {{form.as_p}}
            <button type="submit">Entra</button><br><br>
            <a href="{% url 'password_reset'%}">Esqueceu sua senha?</a>

        </form>
    {%else%}
        <h2>Entre com os dados</h2>
        <form action="" method="post">{%csrf_token%}
            {{form.as_p}}
            <button type="submit">Entra</button><br><br>
            <a href="{% url 'password_reset'%}">Esqueceu sua senha?</a>

        </form>

    {% endif %}

{%endblock%}